* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(10, 10, 10);
}

.header , .fbx , .glb , .gltf , .obj {
  background-color: #202020;
}

.choices {
  background-color: #202020;
}
